.button{
	border-color: orangered;
	background-color: orangered
}

.button:active{
	border-color: #fd7e14;
	background-color: #fd7e14
}

.button:hover{
	border-color: #fd7e14;
	background-color: #fd7e14
}

.button:focus{
	border-color: #fd7e14;
	background-color: #fd7e14
}

.button:disabled{
	border-color: #adb5bd ;
	background-color: #adb5bd 
}
	
.title{
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.list-title{
	color: orangered;
}

.home-contents{
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.result-row{
	width: 70vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.homeImage{
	margin: 0;
	padding-left: 0;
	height: 87vh;
	background-image: url(./assets/bb.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.bgImage{
	margin: 0;
	padding-left: 0;
	height: 87vh;
	background-image: url(./assets/notFound.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
